<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" />
    <title>SPA   :::   FHHF</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="../static/favicon.ico"
                      th:src="@{/favicon.ico}"
                      width="30" height="30" class="d-inline-block align-top" alt="">
            Single Page App Info
        </a>
    </nav>

    <div class="container-fluid">
        <div class="container">

            <br><br><br>
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="card-deck">
                        <div class="card text-white bg-dark">
                            <div class="card-body">
                                <h4 class="card-title">
                                    API Swagger Documentation
                                </h4>
                                <p>Contains documentation to consume the endpoints.</p>
                                <a href="https://spa-java-api.herokuapp.com/swagger-ui.html"
                                   target="_blank"
                                   class="btn btn-outline-info">
                                    Visit
                                </a>
                            </div>
                        </div>
                        <div class="card text-white bg-dark">
                            <div class="card-body">
                                <h4 class="card-title">
                                    BackEnd GitHub Repo
                                </h4>
                                <p>This repository contains the Java project.</p>
                                <a href="https://github.com/BalthazRBlake/SinglePageApp"
                                   target="_blank"
                                   class="btn btn-outline-info">
                                    Visit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100"><br/><br/></div>
                <div class="col-8">
                    <div class="card-deck">
                        <div class="card text-white bg-dark">
                            <div class="card-body">
                                <h4 class="card-title">
                                    FrontEnd App
                                </h4>
                                <p>Vue.js App consuming the endpoints.</p>
                                <a href="https://single-page-employees-app.herokuapp.com/"
                                   class="btn btn-outline-info">
                                    Visit
                                </a>
                            </div>
                        </div>
                        <div class="card text-white bg-dark">
                            <div class="card-body">
                                <h4 class="card-title">
                                    FrontEnd GitHub Repo
                                </h4>
                                <p>This repository contains the Vue.js project.</p>
                                <a href="https://github.com/BalthazRBlake/single-page-app-vue"
                                   target="_blank"
                                   class="btn btn-outline-info">
                                    Visit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>